<div class="grid-container">
  <h1 class="mat-h1">Movimento Data : {{ dataAtual | date: 'dd/MM/yyyy' }}</h1>
  <mat-grid-list cols="4" rowHeight="170px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Saldo do Total
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1> R$ {{ saldoTotal | number:'1.2-2':'pt'}}</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Saldo do Dia
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1> R$ {{ saldoDia | number: '1.2-2': 'pt'}} </h1>
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                Saldo Cash Back Dia
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <h1> R$ {{ saldoCashBackDia | number : '1.2-2':'pt'}} </h1>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="5">
    <mat-card class="dashboard-card">
    <mat-card-content class="dashboard-card-content no-margin">
        <table mat-table [dataSource]="transacoes" class="mat-elevation-z8">

          <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef> CNPJ </th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.cnpj"> {{transaction.cnpj}} </td>
          </ng-container>
      
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data/Hora </th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.situacao?.codigo=='PENDENTE' ? 'pendente' : 'concluida'"> 
              {{ transaction.data.seconds | timestampToDate | date :'dd/MM/yyyy' }}
              {{ transaction.hora.seconds | timestampToDate | date :'HH:mm' }}
            </td>
          </ng-container>
      
          <!-- cpf Column -->
          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.situacao?.codigo=='PENDENTE' ? 'pendente' : 'concluida'"> {{ transaction.usuario.cpf }} </td>
          </ng-container>
      
          <!-- Cost Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.situacao?.codigo=='PENDENTE' ? 'pendente' : 'concluida'"> {{ transaction.usuario.nome }} </td>
            <!-- <td mat-footer-cell *matFooterCellDef> Nome </td> -->
          </ng-container>
      
          <ng-container matColumnDef="valorTransacao">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.situacao?.codigo=='PENDENTE' ? 'pendente' : 'concluida'"> 
              {{ transaction.valorTransacao | number: '1.2-2':'pt' }} </td>
          </ng-container>
      
          <!-- percentualCashBack Column -->
          <ng-container matColumnDef="percentualCashBack">
            <th mat-header-cell *matHeaderCellDef> Percentual </th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.situacao?.codigo=='PENDENTE' ? 'pendente' : 'concluida'"> 
              {{ transaction.percentualCashBack | number: '1.2-2':'pt' }} </td>
          </ng-container>
      
          <ng-container matColumnDef="valorCashBack">
            <th mat-header-cell *matHeaderCellDef> Valor Cash Back</th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.situacao?.codigo=='PENDENTE' ? 'pendente' : 'concluida'"> 
              {{  transaction.valorCashBack | number: '1.2-2':'pt'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="situacao">
            <th mat-header-cell *matHeaderCellDef> Situação </th>
            <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.situacao?.codigo=='PENDENTE' ? 'pendente' : 'concluida'"> 
              {{transaction.situacao?.codigo}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  </mat-grid-list>
</div>