<div class="grid-container">
  <h1 class="mat-h1">Movimento Diário</h1>
  <mat-grid-list cols="4" rowHeight="170px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Saldo do Dia
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
           <mat-menu #menu="matMenu" xPosition="before">
            </mat-menu> 
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1> R$ {{ saldoDia }}</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Saldo do Total
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
             <mat-menu #menu="matMenu" xPosition="before">
              </mat-menu> 
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1> R$ {{ saldoTotal }} </h1>
            <!-- <div> <button (click)="buscaTransacoes()">Pesquisa</button> </div> -->
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="5">
    <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Movimentações
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="dashboard-card-content">
        <table mat-table [dataSource]="transacoes" class="mat-elevation-z8">
            <!-- Data Column -->
            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let transaction"> {{ transaction.data.seconds | timestampToDate | date :'dd/MM/yyyy' }}
              </td>
            </ng-container>
        
            <!-- cpf Column -->
            <ng-container matColumnDef="cpf">
              <th mat-header-cell *matHeaderCellDef> Cpf </th>
              <td mat-cell *matCellDef="let transaction"> {{ transaction.usuario.cpf }} </td>
            </ng-container>
        
            <!-- Cost Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let transaction"> {{ transaction.usuario.nome }} </td>
              <!-- <td mat-footer-cell *matFooterCellDef> Nome </td> -->
            </ng-container>
        
            <!-- percentualCashBack Column -->
            <ng-container matColumnDef="percentualCashBack">
              <th mat-header-cell *matHeaderCellDef> Percentual </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.percentualCashBack}} </td>
            </ng-container>
            <!-- valorTransacao -->
            <ng-container matColumnDef="valorTransacao">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.valorTransacao}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  </mat-grid-list>
</div>