  <mat-sidenav-container fullscreen class="container">

  <mat-sidenav #start>

    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'">
        <mat-icon>payment</mat-icon>
        <span>Movimento Diário</span>
      </a>
      <a mat-list-item [routerLink]="'/home/pesquisa'">
        <mat-icon>search</mat-icon>
        <span>Pesquisa</span>
      </a>

    <a mat-list-item (click)="logout()">
        <mat-icon>home</mat-icon>
        <span>Logout</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="start.open()">
        <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

   <router-outlet></router-outlet>
</mat-sidenav-container> 

<!-- <h3>Inicio</h3>
<a  [routerLink]="'/pesquisa'">Pesquisa</a>

<div style="height: 100%; width:100%; border: 1px black solid">
  <router-outlet name="interno"></router-outlet>
</div>
<h3>Final</h3> -->

