  <mat-sidenav-container fullscreen class="container">

    <!-- <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar> -->

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="start.open()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Cash Bank - Estabelecimento </span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <span> Empresa: {{ nomeEstabelecimento }} - CNPJ: {{ cnpj }}</span>
    </div>
  </mat-toolbar>

  <mat-sidenav #start>
    <mat-nav-list>
        <a mat-list-item>
          <mat-icon>perm_identity</mat-icon>
          <span>Olá, {{ usuario }}!</span>
        </a>

      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/home/dashboard'">
        <mat-icon>payment</mat-icon>
        <span>Movimento Diário</span>
      </a>
      <a mat-list-item [routerLink]="'/home/pesquisa'">
        <mat-icon>search</mat-icon>
        <span>Pesquisa</span>
      </a>
    <a mat-list-item (click)="logout()">
        <mat-icon>home</mat-icon>
        <span>Sair</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>

  

   <router-outlet></router-outlet>
</mat-sidenav-container> 

<!-- <h3>Inicio</h3>
<a  [routerLink]="'/pesquisa'">Pesquisa</a>

<div style="height: 100%; width:100%; border: 1px black solid">
  <router-outlet name="interno"></router-outlet>
</div>
<h3>Final</h3> -->

